body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

section.Banner{
    background-image: url(../img/LemonPie.png);
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}